* {
	padding: 0;
	margin: 0;
}
body{
	background-color: rgb(229, 235, 240) !important;	
}
.header { /* class */
	padding: 5px;
	background: #3c5b8a;
	margin-bottom: 20px;		
}

.container {
	max-width: 960px;
	overflow: hidden;
	margin: 0 auto;
	padding: 15px;
}

li {
	list-style: none;
}


.links{
	background-color: #84d3c8;
	padding: 5px;
	margin-bottom: 20px; 
}

.table {
	text-align: center;
	margin-bottom: 20px;
}

td, th {
	padding: 5px;
	font-style: italic;
	font-size: 14px;
}

tr:nth-child(odd) {
	background-color: #80f08f;
}

tr:nth-child(even) {
	background-color: rgb(119, 228, 204);
}

.wrap {
	display: flex;
	flex-direction: column;
}



